<div class="container px-5 px-sm-0">
  <% if @booker.errors.any? %>
    <div id = "error_explanation">
    <h3><%= @booker.errors.count %>errors prohibited this obj from being saved:</h3>
    <ul>
      <% @booker.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
   <%= render 'shared2/profile', user: current_user, book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |books| %>
          <tr>
            <td>
              <%= link_to attachment_image_tag(books.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40'), user_path(books.user.id) %>
            </td>
            <td>
              <%= link_to books.title, book_path(books.id) %>
            </td>
            <td>
              <%= books.body%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>