<div class="container">
  <div class="row">
    <%= render 'shared2/profile2',user: @book.user, book: @newbook %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to attachment_image_tag(@book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40'), user_path(@book.user.id) %>
              <br><%= link_to @book.user.name, user_path(@book.user.id) %></br>
            </td>
            <td>
              <%= link_to @book.title, book_path(@book.id) %>
            </td>
            <td>
              <%= @book.body%>
            </td>
            <td id = "favorites_btns_<%= @book.id%>">
              <%= render "shared2/favorites", book: @book%>
            </td>
            <td>
              <p>コメント件数：<%= @book.book_comments.count %></p>
            </td>
            <% if @book.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success edit_book_#{@book.id}"%>
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除しますか？"} ,class: "btn btn-sm btn-danger destroy_book_#{@book.id}" %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <div id = "comments">
        <%= render "comments/comment", comments: @book.book_comments %>
      </div>
      <div class="new-comment">
        <%= form_with(model:[@book, @book_comment]) do |f| %>
          <%= f.text_area :comment,placeholder: "コメントをここに",size: "40x10" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>